<div class="row around-xs center-xs barra">
  <div class="col-xs-12 col-sm-4">
    <div class="box">
      <mat-icon>local_shipping</mat-icon>
      Envío gratis a partir de 49€
    </div>
  </div>
  <div class="col-xs-4 col-sm-4 oculto">
    <div class="box">
      <mat-icon>schedule</mat-icon>
      Entrega en 24 horas
    </div>
  </div>
  <div class="col-xs-4 col-sm-4 oculto">
    <div class="box">
      <mat-icon>sync</mat-icon>
      Devolución de 365 días
    </div>
  </div>
</div>

<div class="show-mobile">
  <div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/home">
      <img src="./../../../../assets/svg/logostoremovil.png" alt="logo">
    </a>
    <div class="info">
      <a routerLink="/admin" *ngIf="!user">
        <mat-icon>
          perm_identity
        </mat-icon>
      </a>

      <a routerLink="/admin" (click)="logout()" *ngIf="user">
        <mat-icon>
          logout
        </mat-icon>
      </a>

      <div class="cart">
        <a routerLink="/order">
          <img src="../../../assets/svg/icon_shopping_cart.svg" alt="logo">
        </a>
        <span class="counter" *ngIf="counter > 0">{{ counter }}</span>
      </div>
    </div>

  </div>
  <div class="side-menu" [class.active]="showMenu">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleMenu()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="toggleMenu()">Home</a>
      <a mat-list-item routerLink="/products" routerLinkActive="active" (click)="toggleMenu()">Products</a>
      <a mat-list-item routerLink="/contact" routerLinkActive="active" (click)="toggleMenu()">Contact</a>
      <a mat-list-item routerLink="/admin/products" routerLinkActive="active">Admin</a>
    </mat-nav-list>
    <a routerLink="/admin" (click)="logout()" *ngIf="user">
      <mat-icon>
        logout
      </mat-icon>
    </a>

  </div>
</div>
<div class="hide-mobile">
  <div>
    <div>
      <a class="logo" routerLink="/home">
        <img src="./../../../../assets/svg/logostore.png" alt="logo">
      </a>

    </div>
    <nav>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        <li><a routerLink="/admin/products" routerLinkActive="active">Admin</a></li>
      </ul>
    </nav>
    <div class="info">

      <a routerLink="/admin" *ngIf="!user">
        <mat-icon>
          perm_identity
        </mat-icon>
      </a>

      <div class="user">
        <a routerLink="/admin" (click)="logout()" *ngIf="user">
          <mat-icon>
            logout
          </mat-icon>
        </a>
        <!-- <p *ngIf="user">{{ user }}</p> -->
      </div>

      <div class="cart">
        <a routerLink="/order">
          <img src="../../../assets/svg/icon_shopping_cart.svg" alt="logo">
        </a>
        <span class="counter" *ngIf="counter > 0">{{ counter }}</span>
      </div>

    </div>
  </div>
</div>
