<mat-toolbar color="primary">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <mat-toolbar-row>
    <div class="row between-xs middle-xs header-center">
      <span>Logo</span>
      <nav>
        <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
        <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
        <a mat-button routerLink="/contact" routerLinkActive="active">Clothes</a>
        <a mat-button routerLink="/admin" routerLinkActive="active">Admin</a>
      </nav>
      <!-- <a mat-raised-button> -->
        <!-- <mat-icon>
          account_circle
        </mat-icon> -->
      <!-- </a> -->
      <a mat-raised-button>
        <mat-icon matBadge="4" matBadgeColor="warn" [matBadgeHidden]="counter===0">shopping_bag</mat-icon>
        <!-- Carrito -->
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="show-mobile">
  <div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- <button (click)="toggleMenu()">
      <img src="../../../assets/svg/icon_menu.svg" alt="menu">
    </button> -->
    <a href="">
      <img src="../../../assets/svg/logo_yard_sale.svg" alt="logo">
    </a>
    <div class="info">
      <a routerLink="/contact">
        <mat-icon>
          account_circle
        </mat-icon>
      </a>

      <div class="account">User</div>
      <div class="cart">
        <a href="">
          <img src="../../../assets/svg/icon_shopping_cart.svg" alt="logo">
        </a>
        <span class="counter">{{ counter }}</span>
      </div>
    </div>

  </div>
  <div class="side-menu" [class.active]="showMenu">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleMenu()">
      <mat-icon>close</mat-icon>
    </button>
    <!-- <button (click)="toggleMenu()">Close</button> -->
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Clothes</a></li>
      <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
    </ul>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <div>
      <a class="logo" href="">
        <img src="../../../assets/svg/logo_yard_sale.svg" alt="logo">
      </a>

    </div>
    <nav>
      <input type="text" placeholder="Buscar" (keyup.enter)="buscar()" #txtBuscar>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
      </ul>
    </nav>
    <div class="info">
      <a routerLink="/contact">
        <mat-icon>
          account_circle
        </mat-icon>
      </a>

      <div class="account">ebert@gmail.com</div>

      <div class="cart">
        <!-- <mat-icon>
          shopping_bag
        </mat-icon> -->
        <a href="">
          <img src="../../../assets/svg/icon_shopping_cart.svg" alt="logo">
        </a>
        <span class="counter">{{ counter }}</span>
      </div>
    </div>
  </div>
</div>
