<div class="row center-xs">

  <div class="col-xs-12 col-sm-5">
    <div class="row middle-xs center-xs">
      <div class="col-xs-10">
      <div class="box">
        <app-image [img]="product.image"></app-image>
      </div>
    </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-5">
    <div class="box">
      <div class="row start-xs">
        <div class="col-xs">
          <div>
            <h2>{{ product!.title }}</h2>
            <h3>{{ product!.price | currency:'€' }}</h3>
            <h3>Descripción:</h3>
            <p>{{ product!.description }}</p>
          </div>
        </div>
        <div class="col-xs-12">
          <button mat-raised-button color="primary" (click)="addToShoppingCart(product)" [disabled]="idSelected">Add
            cart</button>
        </div>
      </div>
    </div>
  </div>

</div>
