<mat-card>

  <div class="crop-image">
    <app-image [img]="product.image"></app-image>
  </div>
  <mat-card-header>
    <mat-card-title>{{ product.title | slice:0:10 }}</mat-card-title>
    <mat-card-subtitle>{{ product.price | currency:'€' }}</mat-card-subtitle>
  </mat-card-header>

  <div class="row end-xs around-sm">
    <a mat-raised-button [routerLink]="['/products',product.id]">Details</a>
    <button mat-raised-button color="primary" [disabled]="wasAddToCart" (click)="addProductToCart()">Add cart</button>
  </div>

</mat-card>
