<mat-card>
  <a routerLink="/products">
    <img mat-card-image (error)="imageError($event)" src="./../../../../assets/images/discount.png" alt="Sales">
  </a>
</mat-card>
<h2>Ropa</h2>
<div class="row around-xs ">
  <div class="col-xs-12 col-sm-3">
    <div class="box">
      <a routerLink="/products">
        <img mat-card-image (error)="imageError($event)" src="./../../../../assets/images/fashion.png" alt="Rings">
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="box">
      <a routerLink="/products">
        <img mat-card-image (error)="imageError($event)" src="./../../../../assets/images/escaparate.png" alt="Rings">
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="box">
      <a routerLink="/products">
        <img mat-card-image (error)="imageError($event)" src="./../../../../assets/images/fashion1.png" alt="Rings">
      </a>
    </div>
  </div>
</div>

<h2>Joyas</h2>
<div class="row around-xs ">
  <div class="col-xs-12 col-sm-3">
    <div class="box">
      <a routerLink="/products">
        <img mat-card-image (error)="imageError($event)" src="./../../../../assets/images/rings.png" alt="Rings">
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="box">
      <a routerLink="/products">
        <img mat-card-image (error)="imageError($event)" src="./../../../../assets/images/necklas.png" alt="Rings">
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="box">
      <a routerLink="/products">
        <img mat-card-image (error)="imageError($event)" src="./../../../../assets/images/stainless.png" alt="Rings">
      </a>
    </div>
  </div>
</div>

<h2>Electrónica</h2>
<div class="row around-xs ">
  <div class="col-xs-12 col-sm-3">
    <div class="box">
      <a routerLink="/products">
        <img mat-card-image (error)="imageError($event)" src="./../../../../assets/images/hdd.png" alt="Rings">
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="box">
      <a routerLink="/products">
        <img mat-card-image (error)="imageError($event)" src="./../../../../assets/images/flashdrive.png" alt="Rings">
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div class="box">
      <a routerLink="/products">
        <img mat-card-image (error)="imageError($event)" src="./../../../../assets/images/screen.png" alt="Rings">
      </a>
    </div>
  </div>
</div>

<mat-card>
  <a routerLink="/products">
    <img mat-card-image (error)="imageError($event)" src="./../../../../assets/images/shopping.png" alt="Sales">
  </a>
</mat-card>

